---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=Pu8Q72GeVI6Lm31PvlMG2t0d1XG4qF4c&location=new%20york,ny
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 22 Sep 2020 22:42:00 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"new
        york,ny"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"New
        York","adminArea5Type":"City","adminArea4":"New York County","adminArea4Type":"County","adminArea3":"NY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040974","unknownInput":"","type":"s","latLng":{"lat":40.713054,"lng":-74.007228},"displayLatLng":{"lat":40.713054,"lng":-74.007228},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Pu8Q72GeVI6Lm31PvlMG2t0d1XG4qF4c&type=map&size=225,160&locations=40.713054,-74.007228|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1894274208"}]}]}'
  recorded_at: Tue, 22 Sep 2020 22:42:00 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=1e04002cc2b2797afce01dec62cb7bed&exclude=minutely&lat=40.713054&lon=-74.007228&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.71,"lon":-74.01,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1600814520,"sunrise":1600771441,"sunset":1600815191,"temp":70.07,"feels_like":64.09,"pressure":1013,"humidity":26,"dew_point":33.64,"uvi":5.32,"clouds":1,"visibility":10000,"wind_speed":4.7,"wind_deg":0,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1600812000,"temp":70.07,"feels_like":58.42,"pressure":1013,"humidity":26,"dew_point":33.64,"clouds":1,"visibility":10000,"wind_speed":14.74,"wind_deg":319,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1600815600,"temp":70.18,"feels_like":59.86,"pressure":1013,"humidity":31,"dew_point":38.17,"clouds":1,"visibility":10000,"wind_speed":13.73,"wind_deg":327,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1600819200,"temp":68.99,"feels_like":58.91,"pressure":1013,"humidity":37,"dew_point":41.67,"clouds":0,"visibility":10000,"wind_speed":14.54,"wind_deg":327,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n[...]
- request:
    method: get
    uri: https://pixabay.com/api/?key=18401662-af5c01a13bef9d1be65f3fc81&q=clear%2Bnew%20york
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Reset:
      - '0.1595289930268343'
      Allow:
      - POST, GET, OPTIONS
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"total":6,"totalHits":6,"hits":[{"id":748629,"pageURL":"https://pixabay.com/photos/central-park-new-york-travel-park-748629/","type":"photo","tags":"central
        park, new york, travel","previewURL":"https://cdn.pixabay.com/photo/2015/05/01/15/09/central-park-748629_150.jpg","previewWidth":150,"previewHeight":99,"webformatURL":"https://pixabay.com/get/51e4dd45485bb10ff3d8992cc620337e1439d8e74e50774975277ad0924fc4_640.jpg","webformatWidth":640,"webformatHeight":426,"largeImageURL":"https://pixabay.com/get/51e4dd45485bb108f5d0846096293f7a153ed8e3514c704f752f73d59348c759_1280.jpg","imageWidth":5184,"imageHeight":3456,"imageSize":2205535,"views":7149,"downloads":3788,"favorites":8,"likes":13,"comments":2,"user_id":987173,"user":"nameng","userImageURL":""},{"id":2770365,"pageURL":"https://pixabay.com/photos/empire-state-building-new-york-city-2770365/","type":"photo","tags":"empire
        state building, new york city, manhattan","previewURL":"https://cdn.pixabay.com/photo/2017/09/21/02/19/empire-state-building-2770365_150.jpg","previewWidth":100,"previewHeight":150,"webformatURL":"https://pixabay.com/get/54e7d2434954a914f1dc846096293f7a153ed8e3514c704f752f73d59348c759_640.jpg","webformatWidth":426,"webformatHeight":640,"largeImageURL":"https[...]
