---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<GEOCODING_API_KEY>&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 23 Sep 2020 14:03:14 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<GEOCODING_API_KEY>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-309151153"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<GEOCODING_API_KEY>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-1290873363"}]}]}'
  recorded_at: Wed, 23 Sep 2020 14:03:14 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1600869794,"sunrise":1600865338,"sunset":1600908912,"temp":57.11,"feels_like":49.82,"pressure":1023,"humidity":47,"dew_point":37.09,"uvi":7.24,"clouds":75,"visibility":10000,"wind_speed":8.05,"wind_deg":190,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1600869600,"temp":57.11,"feels_like":51.66,"pressure":1023,"humidity":47,"dew_point":37.09,"clouds":75,"visibility":10000,"wind_speed":4.79,"wind_deg":222,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1600873200,"temp":64.51,"feels_like":59.25,"pressure":1021,"humidity":36,"dew_point":37,"clouds":66,"visibility":10000,"wind_speed":4.41,"wind_deg":217,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1600876800,"temp":72.07,"feels_like":66.9,"pressure":1019,"humidity":27,"dew_point":36.28,"clouds":50,"visibility":10000,"wind_speed":4.03,"wind_deg":230,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","i[...]
- request:
    method: get
    uri: https://pixabay.com/api/?key=<PIXABAY_API_KEY>&q=clouds%2Bdenver
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Reset:
      - '0.719947204202497'
      Allow:
      - GET, OPTIONS, POST
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"total":11,"totalHits":11,"hits":[{"id":92714,"pageURL":"https://pixabay.com/photos/denver-colorado-statue-monument-92714/","type":"photo","tags":"denver,
        colorado, statue","previewURL":"https://cdn.pixabay.com/photo/2013/03/11/22/15/denver-92714_150.jpg","previewWidth":112,"previewHeight":150,"webformatURL":"https://pixabay.com/get/5fe2d2424e4faa0df7c5d57ccf2c377f1339dcf8525771497d2972d39e48_640.jpg","webformatWidth":480,"webformatHeight":640,"largeImageURL":"https://pixabay.com/get/5fe2d2424e4fad0bffd8992cc620337e1439d8e74e50774975277ddd9044c0_1280.jpg","imageWidth":3240,"imageHeight":4320,"imageSize":3361201,"views":3292,"downloads":832,"favorites":11,"likes":17,"comments":0,"user_id":12019,"user":"12019","userImageURL":""},{"id":4046946,"pageURL":"https://pixabay.com/photos/coors-field-baseball-stadium-4046946/","type":"photo","tags":"coors
        field, baseball stadium, colorado rockies","previewURL":"https://cdn.pixabay.com/photo/2019/03/10/18/49/coors-field-4046946_150.jpg","previewWidth":150,"previewHeight":99,"webformatURL":"https://pixabay.com/get/52e0d1454356aa14f1dc846096293f7a153ed8e3514c704f752f73d29e4acc5d_640.jpg","webformatWidth":640,"webformatHeight":426,"largeImageURL":"https://pixabay.com/get[...]
