---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<GEOCODING_API_KEY>&location=yellervile
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 23 Sep 2020 14:03:16 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"yellervile"},"locations":[{"street":"[1
        - 299] Butlerville Rd","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Bell
        Island","adminArea5Type":"City","adminArea4":"Division No.  1","adminArea4Type":"County","adminArea3":"NL","adminArea3Type":"State","adminArea1":"CA","adminArea1Type":"Country","postalCode":"A0A","geocodeQualityCode":"B1CXX","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"M","linkId":"rnr1295186","unknownInput":"","type":"s","latLng":{"lat":47.556245,"lng":-53.364301},"displayLatLng":{"lat":47.556245,"lng":-53.364301},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<GEOCODING_API_KEY>&type=map&size=225,160&locations=47.556245,-53.364301|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-1235634364"},{"street":"[1400
        - 1799] Rue \u00C9mile-Yelle","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Montr\u00E9al","adminArea5Type":"City","adminArea4":"Montr\u00E9al","adminArea4Type":"County","adminArea3":"QC","adminArea3Type":"State","adminArea1":"CA","adminArea1Type":"Country","postalCode":"H2M",[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=47.556245&lon=-53.364301&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":47.56,"lon":-53.36,"timezone":"America/St_Johns","timezone_offset":-9000,"current":{"dt":1600869796,"sunrise":1600852925,"sunset":1600896554,"temp":67.37,"feels_like":63.7,"pressure":1005,"humidity":93,"dew_point":65.28,"uvi":3.69,"clouds":90,"visibility":10000,"wind_speed":16.11,"wind_deg":160,"wind_gust":31.09,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.51}},"hourly":[{"dt":1600869600,"temp":67.37,"feels_like":62.78,"pressure":1005,"humidity":93,"dew_point":65.28,"clouds":90,"visibility":10000,"wind_speed":17.76,"wind_deg":174,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.96,"rain":{"1h":0.24}},{"dt":1600873200,"temp":67.12,"feels_like":63.14,"pressure":1004,"humidity":94,"dew_point":65.34,"clouds":94,"visibility":10000,"wind_speed":16.71,"wind_deg":175,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.96,"rain":{"1h":0.16}},{"dt":1600876800,"temp":66.49,"feels_like":63.93,"pressure":1003,"humidity":95,"dew_point":65.01,"clouds":97,"visibility":10000,"wind_speed":13.94,"wind_deg":181,"weather":[{"id":500,"main":"Rain",[...]
- request:
    method: get
    uri: https://pixabay.com/api/?key=<PIXABAY_API_KEY>&q=rain%2Byellervile
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Reset:
      - '0.719887849185064'
      Allow:
      - GET, POST, OPTIONS
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"total":0,"totalHits":0,"hits":[]}'
  recorded_at: Wed, 23 Sep 2020 14:03:16 GMT
recorded_with: VCR 6.0.0
