---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<GEOCODING_API_KEY>&location=new%20york,ny
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 23 Sep 2020 14:03:15 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"new
        york,ny"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"New
        York","adminArea5Type":"City","adminArea4":"New York County","adminArea4Type":"County","adminArea3":"NY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040974","unknownInput":"","type":"s","latLng":{"lat":40.713054,"lng":-74.007228},"displayLatLng":{"lat":40.713054,"lng":-74.007228},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<GEOCODING_API_KEY>&type=map&size=225,160&locations=40.713054,-74.007228|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-823001121"}]}]}'
  recorded_at: Wed, 23 Sep 2020 14:03:15 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=40.713054&lon=-74.007228&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.71,"lon":-74.01,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1600869795,"sunrise":1600857899,"sunset":1600901489,"temp":65.57,"feels_like":60.84,"pressure":1013,"humidity":55,"dew_point":48.99,"uvi":5.72,"clouds":1,"visibility":10000,"wind_speed":8.05,"wind_deg":250,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1600869600,"temp":65.57,"feels_like":59.94,"pressure":1013,"humidity":55,"dew_point":48.99,"clouds":1,"visibility":10000,"wind_speed":9.66,"wind_deg":299,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1600873200,"temp":68.68,"feels_like":62.53,"pressure":1013,"humidity":49,"dew_point":48.78,"clouds":1,"visibility":10000,"wind_speed":10.47,"wind_deg":296,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1600876800,"temp":72.77,"feels_like":65.88,"pressure":1012,"humidity":46,"dew_point":50.81,"clouds":0,"visibility":10000,"wind_speed":12.77,"wind_deg":293,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d[...]
- request:
    method: get
    uri: https://pixabay.com/api/?key=<PIXABAY_API_KEY>&q=clear%2Bnew%20york
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Reset:
      - '0.7199421093562662'
      Allow:
      - OPTIONS, POST, GET
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"total":6,"totalHits":6,"hits":[{"id":748629,"pageURL":"https://pixabay.com/photos/central-park-new-york-travel-park-748629/","type":"photo","tags":"central
        park, new york, travel","previewURL":"https://cdn.pixabay.com/photo/2015/05/01/15/09/central-park-748629_150.jpg","previewWidth":150,"previewHeight":99,"webformatURL":"https://pixabay.com/get/51e4dd45485bb10ff3d8992cc620337e1439d8e74e50774975277ddd9044c0_640.jpg","webformatWidth":640,"webformatHeight":426,"largeImageURL":"https://pixabay.com/get/51e4dd45485bb108f5d0846096293f7a153ed8e3514c704f752f73d29e4acc5d_1280.jpg","imageWidth":5184,"imageHeight":3456,"imageSize":2205535,"views":7149,"downloads":3788,"favorites":8,"likes":13,"comments":2,"user_id":987173,"user":"nameng","userImageURL":""},{"id":2770365,"pageURL":"https://pixabay.com/photos/empire-state-building-new-york-city-2770365/","type":"photo","tags":"empire
        state building, new york city, manhattan","previewURL":"https://cdn.pixabay.com/photo/2017/09/21/02/19/empire-state-building-2770365_150.jpg","previewWidth":100,"previewHeight":150,"webformatURL":"https://pixabay.com/get/54e7d2434954a914f1dc846096293f7a153ed8e3514c704f752f73d29e4acc5d_640.jpg","webformatWidth":426,"webformatHeight":640,"largeImageURL":"https[...]
