---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=Pu8Q72GeVI6Lm31PvlMG2t0d1XG4qF4c&location=yellervile
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 22 Sep 2020 22:42:01 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"yellervile"},"locations":[{"street":"[1
        - 299] Butlerville Rd","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Bell
        Island","adminArea5Type":"City","adminArea4":"Division No.  1","adminArea4Type":"County","adminArea3":"NL","adminArea3Type":"State","adminArea1":"CA","adminArea1Type":"Country","postalCode":"A0A","geocodeQualityCode":"B1CXX","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"M","linkId":"rnr1295186","unknownInput":"","type":"s","latLng":{"lat":47.556245,"lng":-53.364301},"displayLatLng":{"lat":47.556245,"lng":-53.364301},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Pu8Q72GeVI6Lm31PvlMG2t0d1XG4qF4c&type=map&size=225,160&locations=47.556245,-53.364301|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-2076590804"},{"street":"[1400
        - 1799] Rue \u00C9mile-Yelle","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Montr\u00E9al","adminArea5Type":"City","adminArea4":"Montr\u00E9al","adminArea4Type":"County","adminArea3":"QC","adminArea3Type":"State","adminArea1":"CA","adminArea1Type":"Country","posta[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=1e04002cc2b2797afce01dec62cb7bed&exclude=minutely&lat=47.556245&lon=-53.364301&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":47.56,"lon":-53.36,"timezone":"America/St_Johns","timezone_offset":-9000,"current":{"dt":1600814521,"sunrise":1600766445,"sunset":1600810278,"temp":52.41,"feels_like":40.42,"pressure":1020,"humidity":18,"dew_point":12.54,"uvi":4.73,"clouds":100,"visibility":10000,"wind_speed":11.05,"wind_deg":112,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"rain":{"1h":0.56}},"hourly":[{"dt":1600812000,"temp":52.41,"feels_like":40.42,"pressure":1020,"humidity":18,"dew_point":12.54,"clouds":100,"visibility":10000,"wind_speed":11.05,"wind_deg":112,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":1,"rain":{"1h":0.56}},{"dt":1600815600,"temp":51.19,"feels_like":40.84,"pressure":1021,"humidity":55,"dew_point":35.6,"clouds":100,"visibility":9935,"wind_speed":13.02,"wind_deg":114,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"}],"pop":1,"rain":{"1h":1.35}},{"dt":1600819200,"temp":51.35,"feels_like":41.54,"pressure":1021,"humidity":77,"dew_point":44.4,"clouds":100,"visibility":10000,"wind_speed":15.1,"wind_deg":116,"weather":[{"id":500,"main":"Rain","desc[...]
- request:
    method: get
    uri: https://pixabay.com/api/?key=18401662-af5c01a13bef9d1be65f3fc81&q=rain%2Byellervile
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Reset:
      - '0.15937485785665875'
      Allow:
      - POST, OPTIONS, GET
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"total":0,"totalHits":0,"hits":[]}'
  recorded_at: Tue, 22 Sep 2020 22:42:02 GMT
recorded_with: VCR 6.0.0
