---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=Pu8Q72GeVI6Lm31PvlMG2t0d1XG4qF4c&location=yellervile
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 22 Sep 2020 18:23:19 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"yellervile"},"locations":[{"street":"[1
        - 299] Butlerville Rd","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Bell
        Island","adminArea5Type":"City","adminArea4":"Division No.  1","adminArea4Type":"County","adminArea3":"NL","adminArea3Type":"State","adminArea1":"CA","adminArea1Type":"Country","postalCode":"A0A","geocodeQualityCode":"B1CXX","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"M","linkId":"rnr1295186","unknownInput":"","type":"s","latLng":{"lat":47.556245,"lng":-53.364301},"displayLatLng":{"lat":47.556245,"lng":-53.364301},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Pu8Q72GeVI6Lm31PvlMG2t0d1XG4qF4c&type=map&size=225,160&locations=47.556245,-53.364301|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-890920199"},{"street":"[1400
        - 1799] Rue \u00C9mile-Yelle","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Montr\u00E9al","adminArea5Type":"City","adminArea4":"Montr\u00E9al","adminArea4Type":"County","adminArea3":"QC","adminArea3Type":"State","adminArea1":"CA","adminArea1Type":"Country","postal[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=1e04002cc2b2797afce01dec62cb7bed&exclude=minutely&lat=47.556245&lon=-53.364301&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":47.56,"lon":-53.36,"timezone":"America/St_Johns","timezone_offset":-9000,"current":{"dt":1600798999,"sunrise":1600766445,"sunset":1600810278,"temp":53.94,"feels_like":46.4,"pressure":1024,"humidity":65,"dew_point":42.46,"uvi":4.73,"clouds":100,"visibility":10000,"wind_speed":10.33,"wind_deg":147,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1600797600,"temp":53.94,"feels_like":46.4,"pressure":1024,"humidity":65,"dew_point":42.46,"clouds":100,"visibility":10000,"wind_speed":10.33,"wind_deg":147,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.13},{"dt":1600801200,"temp":52.86,"feels_like":45.97,"pressure":1024,"humidity":71,"dew_point":43.74,"clouds":100,"visibility":10000,"wind_speed":9.66,"wind_deg":145,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.61,"rain":{"1h":0.12}},{"dt":1600804800,"temp":50.77,"feels_like":44.83,"pressure":1024,"humidity":83,"dew_point":45.81,"clouds":100,"visibility":10000,"wind_speed":8.79,"wind_deg":139,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.83,"rain":{"1h":0.41}},{"dt":1600808400,"temp":49.64,"feels_like":44.19,"pressure":1023,"humidity":88,"dew_point":46.24,"clouds":100,"visibility":10000,"wind_speed":8.12,"wind_deg":119,"weather":[{"id":500,"main":"Rain","description[...]
- request:
    method: get
    uri: https://pixabay.com/api/?key=18401662-af5c01a13bef9d1be65f3fc81&q=clouds%2Byellervile
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '4982'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Reset:
      - '4.67266444099636e-05'
      Allow:
      - POST, OPTIONS, GET
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"total":0,"totalHits":0,"hits":[]}'
  recorded_at: Tue, 22 Sep 2020 18:23:19 GMT
recorded_with: VCR 6.0.0
