---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<GEOCODING_API_KEY>&location=gainesville,fl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 23 Sep 2020 14:03:12 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"gainesville,fl"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Gainesville","adminArea5Type":"City","adminArea4":"Alachua
        County","adminArea4Type":"County","adminArea3":"FL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039396","unknownInput":"","type":"s","latLng":{"lat":29.651958,"lng":-82.325024},"displayLatLng":{"lat":29.651958,"lng":-82.325024},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<GEOCODING_API_KEY>&type=map&size=225,160&locations=29.651958,-82.325024|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1133568232"}]}]}'
  recorded_at: Wed, 23 Sep 2020 14:03:12 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=29.651958&lon=-82.325024&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":29.65,"lon":-82.33,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1600869793,"sunrise":1600859907,"sunset":1600903473,"temp":71.24,"feels_like":73.6,"pressure":1019,"humidity":83,"dew_point":65.82,"uvi":8.97,"clouds":1,"visibility":10000,"wind_speed":5.82,"wind_deg":70,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1600869600,"temp":71.24,"feels_like":73.78,"pressure":1019,"humidity":83,"dew_point":65.82,"clouds":1,"visibility":10000,"wind_speed":5.5,"wind_deg":84,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1600873200,"temp":74.66,"feels_like":76.24,"pressure":1019,"humidity":68,"dew_point":63.41,"clouds":45,"visibility":10000,"wind_speed":5.35,"wind_deg":103,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1600876800,"temp":79.47,"feels_like":79.93,"pressure":1018,"humidity":51,"dew_point":59.77,"clouds":65,"visibility":10000,"wind_speed":4.81,"wind_deg":115,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds[...]
