---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=Pu8Q72GeVI6Lm31PvlMG2t0d1XG4qF4c&location=gainesville,fl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 22 Sep 2020 23:24:26 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"gainesville,fl"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Gainesville","adminArea5Type":"City","adminArea4":"Alachua
        County","adminArea4Type":"County","adminArea3":"FL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039396","unknownInput":"","type":"s","latLng":{"lat":29.651958,"lng":-82.325024},"displayLatLng":{"lat":29.651958,"lng":-82.325024},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Pu8Q72GeVI6Lm31PvlMG2t0d1XG4qF4c&type=map&size=225,160&locations=29.651958,-82.325024|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1398356308"}]}]}'
  recorded_at: Tue, 22 Sep 2020 23:24:26 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=1e04002cc2b2797afce01dec62cb7bed&exclude=minutely&lat=29.651958&lon=-82.325024&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":29.65,"lon":-82.33,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1600817066,"sunrise":1600773476,"sunset":1600817148,"temp":74.32,"feels_like":75.06,"pressure":1019,"humidity":69,"dew_point":63.5,"uvi":9.01,"clouds":1,"visibility":10000,"wind_speed":6.93,"wind_deg":80,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1600815600,"temp":74.32,"feels_like":75,"pressure":1019,"humidity":69,"dew_point":63.5,"clouds":1,"visibility":10000,"wind_speed":7.02,"wind_deg":75,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1600819200,"temp":73.18,"feels_like":73.76,"pressure":1019,"humidity":71,"dew_point":63.23,"clouds":40,"visibility":10000,"wind_speed":7.02,"wind_deg":75,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1600822800,"temp":71.15,"feels_like":71.76,"pressure":1018,"humidity":76,"dew_point":63.21,"clouds":0,"visibility":10000,"wind_speed":6.96,"wind_deg":78,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon"[...]
