---
http_interactions:
- request:
    method: get
    uri: https://pixabay.com/api/?key=<PIXABAY_API_KEY>&q=gainesville
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Reset:
      - '0.7201074892388604'
      Allow:
      - GET, POST, OPTIONS
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"total":0,"totalHits":0,"hits":[]}'
  recorded_at: Wed, 23 Sep 2020 14:03:13 GMT
recorded_with: VCR 6.0.0
