---
http_interactions:
- request:
    method: get
    uri: https://pixabay.com/api/?key=18401662-af5c01a13bef9d1be65f3fc81&q=denver%20clouds
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Reset:
      - '0.1299642081724605'
      Allow:
      - GET, OPTIONS, POST
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"total":11,"totalHits":11,"hits":[{"id":92714,"pageURL":"https://pixabay.com/photos/denver-colorado-statue-monument-92714/","type":"photo","tags":"denver,
        colorado, statue","previewURL":"https://cdn.pixabay.com/photo/2013/03/11/22/15/denver-92714_150.jpg","previewWidth":112,"previewHeight":150,"webformatURL":"https://pixabay.com/get/5fe2d2424e4faa0df7c5d57ccf2c377f1339dcf8525771497d2e7cd69648_640.jpg","webformatWidth":480,"webformatHeight":640,"largeImageURL":"https://pixabay.com/get/5fe2d2424e4fad0bffd8992cc620337e1439d8e74e50774975277ad3954cc0_1280.jpg","imageWidth":3240,"imageHeight":4320,"imageSize":3361201,"views":3292,"downloads":832,"favorites":11,"likes":17,"comments":0,"user_id":12019,"user":"12019","userImageURL":""},{"id":4046946,"pageURL":"https://pixabay.com/photos/coors-field-baseball-stadium-4046946/","type":"photo","tags":"coors
        field, baseball stadium, colorado rockies","previewURL":"https://cdn.pixabay.com/photo/2019/03/10/18/49/coors-field-4046946_150.jpg","previewWidth":150,"previewHeight":99,"webformatURL":"https://pixabay.com/get/52e0d1454356aa14f1dc846096293f7a153ed8e3514c704f752f73d5904fc45d_640.jpg","webformatWidth":640,"webformatHeight":426,"largeImageURL":"https://pixabay.com/get[...]
